.app {
    width: 98%;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.reactBootstrapTable {
    justify-content: center;
    text-align: center;
    width: 60%;
}
.divTable {
    margin-top: 20px;
}
.headerDataTable {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #c8e6c9;
}
.rowDataTable {
     font-size: 16px;
}
.tableContainer {
    color: red;
}